
<footer>
    <div class="f-info">
        <div class="smedia">
            <a href="https://www.instagram.com/1478ankit/"><i class="fab fa-instagram"></i></a>   
            <a href="https://www.facebook.com/profile.php?id=100024807159556">  <i class="fa-brands fa-square-facebook"></i></a>  
            <a href="https://www.linkedin.com/in/ankit-raj-989161254/"><i class="fa-brands fa-linkedin"></i></a>     
             
        </div>

        <div class="Brand"> &copy; Wanderlust Private Limited</div>

        <div class="info-link">
            <a href="/privacy ">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>