body{
   font-family: 'Plus Jakarta Sans', sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}


.container{
    flex: 1;
}


/* navebar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

/* footer */

.info-link a{
    text-decoration: none;
    color: #222222;
}
.info-link a:hover {
    text-decoration: underline;
}


.info-link,
.smedia, .Brand {
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.smedia i {
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color:#ebebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}




/* cards */

.cardlisting{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0 ;
}

.card-img-overlay:hover{
    opacity: 0.2 ;
    background-color: white ;
}


/* newejs */
#add-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */

#map{
    height: 400px;
    width: 80vh;
}